unstructured[all-docs]
langchain
langchain_community
langchain_unstructured
langchain-groq
langchain_huggingface
transformers
langchain-ollama
langchain_google_genai
langchain_core
langchain-chroma
sentence-transformers
streamlit